@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

body {
    background-color: #ffc1bf;
}

.header {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 75px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    color: #151616;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffc1bf;
    font-weight: 900;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1a8fc2;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #970884;
    transform: scale(1.1);
    border: 0.5 solid rgb(80, 80, 252);
    outline: 2px solid blue;
    outline-offset: 3px;
}

/*MAIKI*/
.titulo {
    font-family: Mangal;
    font-size: 2.5rem;
    letter-spacing: 10px;
    word-spacing: 1px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    flex-direction: row;
    justify-content: flex-end;
}

.contenedor-ola {
    display: flex;
    width: 70%;
    height: 500px;
    margin-right: 10px;
    background-color: white;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.contenido {
    height: 100%;
    width: 50%;
    border-top-left-radius: 70px;
    text-align: center;

}

.contenido>img {
    position: relative;
    width: 80%;
    height: 80%;
    top: 50px;
}

.contenido2 {
    height: 100%;
    width: 50%;
    border-bottom-right-radius: 70px;
}

.contenido2>h2 {
    margin: 10px;
    margin-top: 30px;
}

.contenido2>p {
    margin: 20px;
    position: relative;
    text-align: justify;
    top: 35%;
}

/*segundo section*/
.container2 {
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.contenedor-ola2 {
    display: flex;
    width: 70%;
    height: 500px;
    margin-left: 10px;
    background-color: white;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
}

.contenido_2 {
    height: 100%;
    width: 50%;
    background-color: ;
    border-bottom-left-radius: 70px;
    text-align: center;
}

.contenido_2>p {
    margin: 20px;
    position: relative;
    text-align: justify;
    top: 50%;

}

.contenido2_2>img {
    position: relative;
    width: 80%;
    height: 80%;
    top: 50px;
}

.contenido2_2 {
    height: 100%;
    width: 50%;
    border-top-right-radius: 70px;
    background-color: #F7E4DF;
    text-align: center;
}

.btn-wsp {
    position: fixed;
    width: 65px;
    height: 65px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #000;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
    transform: scale(1.1);
}

.logo-btn {
    text-decoration: none;
}

.button {
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  .boton-centrar{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/*Maiki*/